# Compiled executables
client/client
server/server

# Object files
*.o

# Dependency files
*.d

# Logs
*.log

# Temporary files
*.tmp
*.temp
*~

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
